<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/4bd251a57a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <title>MRM RB</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div id="app">
    <div class="top">
        <header>
            <div class="label"></div>
            <div class="block-for-stat">
                <div class="comp-block">
                    <div class="circle active-circle" @click="show=!show">
                        <span v-if="norma.length != 0">{{norma}}</span>
                        <span class="empty-plan" v-else>Укажите план УП</span>
                    </div>
                    <span>Норматив УП</span>
                </div>
                <div class="comp-block">
                    <div class="circle">{{fixedTotalSum}}</div>
                    <span>Текущий УП</span>
                </div>
            </div>
            <div class="block-for-business" v-if="showBusiness">
                <div class="bus-container">
                    <div class="bus-block">
                        <div class="pos-for-rubel">
                            <div class="rubel">{{fixedIncome}} &#8381;</div>
                        </div>
                        <span class="title-bus">Итого сегодня</span>
                    </div>
                    <div class="bus-block">
                        <div class="pos-for-rubel">
                            <div class="bus-price" @click="showPrice=!showPrice">
                                <span class="rubel" v-if="price.length != 0">{{price}} &#8381;</span>
                                <span class="empty-price" v-else>0 &#8381;</span>
                                <i class="fas fa-pen"></i>
                            </div>
                        </div>
                        <span class="title-bus">Стоимость УП</span>
                    </div>
                </div>
            </div>
            <div class="window" v-if="show">
                <input type="number" @click="norma=''" v-model.lazy="norma"
                       onkeypress="this.value=this.value.substring(0,3);">
                <i class="fas fa-check-square" @click="show=!show"></i>
            </div>
            <div class="window-price" v-if="showPrice">
                <input type="number" @click="price=''" v-model.lazy="price"
                       onkeypress="this.value=this.value.substring(0,3);">
                <i class="fas fa-check-square" @click="showPrice=!showPrice"></i>
            </div>
            <div class="business" @click="showBusiness=!showBusiness">
                <i class="fas fa-ruble-sign bus-icon" v-if="showBusiness"></i>
                <i class="fas fa-calculator bus-icon" v-if="!showBusiness"></i>
            </div>
        </header>
        <div class="clr-block"></div>
<!--        <div class="container">-->
<!--            <div v-for="product in products">-->
<!--                <div class="block-for-product">-->
<!--                    <div class="name">{{product.name}}</div>-->
<!--                    <div class="product-content">-->
<!--                        <div class="block-for-title">-->
<!--                            <div class="num">{{product.col}}</div>-->
<!--                            <div class="price">{{product.price}}</div>-->
<!--                        </div>-->
<!--                        <div class="block-for-btn">-->
<!--                            <button @click="decreaseCol(product)"><span class="text-btn">-</span></button>-->
<!--                            <button @click="increaseCol(product)"><span class="text-btn">+</span></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <products ref="products"></products>-->
<!--        </div>-->
    </div>
    <products ref="products"></products>
    <div class="signature">
        <div class="clr-signature"></div>
        <div class="my-signature">
            <span class="v-info"><i>Version 2.7</i></span>
            <span class="dev-info">developed by Kpstya</span>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="scripts/ProductsComp.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>